html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-white-center {
    color: #ededed;
    text-align: center;
}
.text-white-left {
    color: #ededed;
    text-align: left;
    font-size: 4rem;
}

.body-container {
    height: 95vh;
    width: 100vw;
}

.body-background-one {
    background-image: url(https://res.cloudinary.com/wit-fitness-app/image/upload/v1652022803/background_wmgyt0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.body-background-two{
    background-image: url(https://res.cloudinary.com/wit-fitness-app/image/upload/v1652022864/rubber_surface_a03y9b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.nav-container {
    background-color: #404142;
    box-shadow: inset 0px -2px 4px rgb(10, 10, 10);
    height: 5vh;
    display: flex;

}

.nav-list {
    margin: 0;
    padding: 1rem;
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-right: 2rem;
    font-size: x-large;
}

.nav-item-text {
    text-decoration: none;
    color: #e0e0e0;

}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;

}

.nav-item:nth-child(3) {
    margin-right: auto;
}

.nav-item:nth-child(2) {
    margin-left: 10rem;
}

.nav-logo {

    width: 50px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.btn-header {
    background-color: #e0e0e0;
    border: none;
    outline: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(12, 12, 12);
    font-size: large;
    padding: 5px;
    text-decoration: none;
    color: #0b1626;
}

.logged-in-btn-header {
    background-color: #e0e0e0;
    border: none;
    outline: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(12, 12, 12);
    font-size: large;
    padding: 5px;
    text-decoration: none;
    color: #0b1626;
    margin-left: 10rem;
}

.flexbox-container {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.flexbox-item {
    flex-direction: column;


}

.flexbox-item1 {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

}

.flexbox-item2 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-item3 {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

}

.p-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ededed;
    border-radius: 5%;
    height: 50%;
    width: 95%;
    box-shadow: inset -2px -2px 4px rgb(17, 17, 17);
    margin-left: 25px;
    color: #0b1626;
}

.p-text-and-spacing {
    padding-left: 1rem;
    font-size: larger
}

.glow-effect {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 40%;
    box-shadow: inset 0px 0 120px #2e2e2e,
        inset 0 0 14px #ededed,
        0px 0 25px #ededed;
}

.centerlogo {
    padding-top: 20px;
    width: 300px;
    height: 200px;
    margin: 0, auto;
}

.anchor-text {
    text-decoration: none;
    color: #e0e0e0;
    text-align: center;
}

.h1-underline {
    border-bottom: 2px solid #0b1626;
    width: 100%;
    text-shadow: 2px 3px 6px #2e2e2e;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #ededed;
    border-radius: 5%;
    height: 50%;
    width: 35%;
    box-shadow: inset -2px -2px 4px rgb(17, 17, 17);
    margin-left: 25px;
    color: #0b1626;
    justify-content: center;
    align-items: center;
}

.form-control {
    padding-top: 2px;
    width: 20rem;
    height: 2rem;
    font-size: large;
    box-shadow: 2px 2px 2px #2e2e2e;
}

.submit-button {
    background-color: #0b1626;
    border: none;
    outline: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(12, 12, 12);
    font-size: large;
    padding: 5px;
    text-decoration: none;
    color: #e0e0e0;
    width: 200px;
    height: 50px;
    font-size: x-large;
    cursor: pointer;
}

.profilebox-item1 {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

}

.profilebox-item2 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilebox-item3 {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

}

.listbox-item1 {
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    gap:3rem;

}

.listbox-item2 {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#workout-list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    background-color: #ededed;
}

#workout-list td,
#workout-list th {
    border: 1px solid rgb(3, 3, 3);
    padding: 8px;
}

#workout-list tr:nth-child(even) {
    background-color: #e0e0e0;
}

#workout-list tr:hover {
    background-color: #ddd;
}

#workout-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #404142;
    color: white;
}

.workout-list-button {
    background-color: #e0e0e0;
    border: none;
    outline: none;
    width: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(12, 12, 12);
    font-size: large;
    padding: 5px;
    text-decoration: none;
    margin-left: 30px;
}

.listbox-item3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.workout-table {
    margin: auto;
    min-width: 500px;
    min-height: 335px;

}

.plan-body-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.planbox-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.workoutplan-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15rem;
}
.workoutplan-header {
    margin:auto
}

.history-container {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    border-radius: 5%;
    height: 50%;
    width: 95%;
    box-shadow: inset -2px -2px 4px rgb(17, 17, 17);
    color: #0b1626;
    overflow: auto;
}

.history-text-and-spacing {
    padding-left: 1rem;
    font-size: larger
}
.fa-cog{
    color: red;
    opacity:0;
    transition:opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    position: absolute;
    right: 20%; 
    cursor: pointer;
}
.table:hover .deleteButton {
   opacity: 1;
   transition:opacity 0.5s linear;
   -moz-transition: opacity 0.5s linear;
   -webkit-transition: opacity 0.5s linear;
}
.deleteButton{
    background-color: red;
    color: white;
    opacity:0;
    transition:opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    position: absolute;
    right: 20%;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(12, 12, 12);
    font-size: large;
    text-decoration: none;
}

#history-list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #ededed;
}

#history-list td,
#history-list th {
    border: 1px solid rgb(3, 3, 3);
    padding: 8px;
}

#history-list tr:nth-child(even) {
    background-color: #868686;
}

#history-list tr:hover {
    background-color: #ddd;
}

#history-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #404142;
    color: white;
}
.workoutList-button {
    background-color: #e0e0e0;
    border: none;
    outline: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(12 12 12);
    font-size: large;
    padding: 5px;
    text-decoration: none;
    color: #0b1626;
    width: 75px;
    height: 30px;
    font-size: medium;
    cursor: pointer;
}
.divflexcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}
.divrowgap {
    flex-direction: row;
    display: flex;
    gap: 10rem;
    margin-bottom: 10px;
}
.modal-table{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #e0e0e0;
    padding:5px;
    z-index: 1000;
}
.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
}
.modal-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.next-button {
    position: absolute;
    top: 50%;
    right: -100px;
}
.prev-button {
    position: absolute;
    top: 50%;
    left: -100px;
}
.logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height:350px;
    border-radius: 40%;
}
.profile-image {
    height: 40%;
    width: 90%;
    margin: 0 auto;
}

.profile-slider-modal{
  

    height: 45rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    right: 65%;
    transform: translate(-50%, -50%);
    background-color: #404142;
    z-index: 1000;
    border-radius: 5px;
    
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }
  .active-anim {
    opacity: 1;
  }
  .btn-slide {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: -5rem;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: -5rem;
    transform: translateY(-60%);
  }
  .graph-modal{
    height: 45rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: #e0e0e0;
    padding:5px;
    z-index: 1000;
}
.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    cursor: pointer;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }
  .workout-list-category {
    height: 8rem;
    width: 35rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  #cardio{
    background-image:url("https://res.cloudinary.com/wit-fitness-app/image/upload/v1652108239/Cardio_Banner_vp6jqk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -10px;
  }
  #strength{
    background-image:url("https://res.cloudinary.com/wit-fitness-app/image/upload/v1652108934/Strength_Banner_trq5vp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -35px;

  }
  #hypertrophy{
    background-image:url("https://res.cloudinary.com/wit-fitness-app/image/upload/v1652109632/hypertrophy_Banner_khyroe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    background-color: black;
    background-position-x: 70px;
  }

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: #BB3F3F;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: #BB3F3F;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #BB3F3F;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}
.form-regex{
    display: flex;
    align-items: center;
    margin: 0 auto;
}